body {
  background-color: #f7f5f1;
}

nav.navbar,
footer {
  background-image: url('../media/bg1.png');
}

.hero-header {
  background: url('../media/banner.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Darken the image for better text contrast */
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
}

/* Footer styling */
.footer-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: black 1px 1px 1px;
}

.footer-link:hover {
  color: rgba(255, 255, 255, 1);
  transform: translateX(5px);
}

.header-logo-button {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header-logo-button:hover {
  opacity: 1;
}

.social-icon {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 15px;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}

/* Zoom effect on image hover */
.card-img-top {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: grayscale(0);
}

.card:hover .card-img-top {
  transform: scale(1.1);
  /* Zoom in the image slightly */
  filter: grayscale(50%);
  /* Remove greyscale on hover */
}

.card-img-hold {
  overflow: hidden;
}

.card,
.card-img-top {
  border-radius: 0;
  /* Remove border-radius */
}

ul.list-group.gig-list {
  max-width: 720px;
  margin: auto;
}

ul.list-group .gig-title {
  font-size: 1.70rem;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1px;
  text-shadow: #6c757d 1px 1px 1px;
  /* color: #02cad0; */
}

ul.list-group .gig-date {
  font-size: 0.95rem;
  color: #6c757d;
}

section.text-block-720 {
  max-width: 720px;
  margin: 0 auto;
}

/* Fonts */
body,
.card-text {
  font-family: 'Fira Sans', sans-serif;
  /* Apply Fira Sans for all text */
}

h5.card-title {
  font-weight: 700;
  color: #02cad0;
  text-shadow: black 1px 1px 1px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: black 1px 1px 1px;
  color: #f74f00;
}

body,
.card-text {
  font-weight: 400;
  /* Regular weight for body text */
}

.nav-item a.nav-link {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: black 1px 1px 1px;
}

/* Utils */

.no-underline {
  text-decoration: none;
}

.was-validated .form-control:invalid {
  border-color: #dc3545;
}

.was-validated .form-control:valid {
  border-color: #28a745;
}

/* button styles */

.btn-custom {
  background-color: #02cad0;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  text-shadow: black 1px 1px 1px;
}

.btn-custom:hover {
  background-color: #01b5ba;
  color: #fff;
}

.btn-custom:focus, .btn-custom.focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(2, 202, 208, 0.5);
}

.btn-custom:active, .btn-custom.active {
  background-color: #019fa4;
  border-color: #018d91;
  color: #fff;
}

.btn-custom.disabled, .btn-custom:disabled {
  background-color: #02cad0;
  opacity: 0.65;
  pointer-events: none;
}